
.footer-container {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.social-icons img {
    height: 30px;
    width: 30px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.contact-info a {
    color: white;
    text-decoration: none;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
    font-size: 14px;
    direction: rtl;
}
